client
dev tun
proto {{ item.proto }}
remote {{ item.host }} {{ item.port }}
resolv-retry infinite
nobind
;user nobody
;group nogroup
persist-key
persist-tun
;mute-replay-warnings
ca {{ item.name }}-ca.crt
cert {{ item.name }}.crt
key {{ item.name }}.key
;ns-cert-type server
remote-cert-tls server
{% if "ta_key" in item and item.ta_key != "" %}
tls-auth {{ item.name }}-ta.key 1
{% endif %}
cipher {{ item.cipher }}
auth {{ item.auth }}
{% if "tls_cipher" in item and item.tls_cipher != "" %}
tls-cipher {{ item.tls_cipher }}
{% endif %}
comp-lzo
verb 3
;mute 20
